/* Custom SCSS Files For Postife Upload System
 *
 * This files are using SASS (SCSS) preprocessor.
 * Files were created using Prepros
 * Author: DevXenner
 * Website: https://postife.com/
 * License: All rights reserved. Do not copy. Do not sell or distribute this file.
 * 
 */
/*------------------------------------*    # Simple Typography Settings
\*------------------------------------*/
/*------------------------------------*    # General Settings
\*------------------------------------*/
/* limit container fluid width, we don't want to go too wide */
/*------------------------------------*    # Color Settings
\*------------------------------------*/
/*------------------------------------*    # Card Settings
\*------------------------------------*/
/* border-radius */
/* 2/16 */
/*------------------------------------*    # Form Settings
\*------------------------------------*/
/*------------------------------------*    # Logo Settings
\*------------------------------------*/
/*------------------------------------*    # Navigation Settings
\*------------------------------------*/
/* 1/16 */
/*------------------------------------*    # Header Settings
\*------------------------------------*/
/* 1/16 */
/*------------------------------------*    # Home | Hero Settings
\*------------------------------------*/
/* border-radius */
/*------------------------------------*    # Home | Testimonials Settings
\*------------------------------------*/
/*------------------------------------*    # Home | Follow Us Settings
\*------------------------------------*/
/*------------------------------------*    # Footer Settings
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*    # Typography Settings
\*------------------------------------*/
*, html, body {
  font-size: 100%;
  font-family: "Martel", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 36px;
  color: #000000;
  line-height: 1.25em;
  font-weight: 700; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: rem(40px);
  margin-bottom: 24px; }

h2 {
  font-size: rem(40px)/1.3;
  margin-bottom: 18.46154px; }

h3 {
  font-size: rem(40px)/1.5;
  margin-bottom: 16px; }

h4 {
  font-size: rem(40px)/1.7;
  margin-bottom: 14.11765px; }

h5 {
  font-size: rem(40px)/1.8;
  margin-bottom: 13.33333px; }

h6 {
  font-size: rem(40px)/2;
  margin-bottom: 12px; }

p {
  margin-bottom: 20px;
  font-size: rem(17px);
  line-height: 1.5em;
  color: #505050; }
  p:last-of-type {
    margin-bottom: 0; }

a {
  color: #459bd9;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover {
    color: #1f6699; }

ul,
ol {
  margin: 20px 0 0 20px; }
  ul li,
  ol li {
    margin-top: 10px;
    line-height: 1.5em;
    color: #505050; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0; }

ul li {
  list-style: disc; }

ul ul li {
  list-style: circle; }

ol li {
  list-style: decimal; }

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #DADADA; }

blockquote {
  margin: 30px 0;
  font-size: rem(23px);
  line-height: 1.5em;
  color: #505050;
  text-align: center;
  font-style: italic; }

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse; }

table, td, th {
  border: 1px solid #DADADA;
  text-align: left; }

th {
  font-weight: 700; }

th, td {
  padding: 15px; }

figure {
  margin: 30px 0; }
  figure img {
    margin: 0; }

figcaption {
  margin-top: 10px;
  color: #6a6a6a;
  font-size: 16px; }

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #DADADA;
  overflow: auto;
  border-radius: 3px; }
  pre code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em; }

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: rem(17px)/1.2;
  color: #282828;
  line-height: 1em;
  pointer-events: none;
  border: 1px solid #DADADA;
  border-radius: 3px; }

em,
i,
.italic {
  font-style: italic; }

strong,
b,
.bold {
  font-weight: 700; }

img {
  display: block;
  max-width: 100%;
  margin: 30px 0; }

/*------------------------------------*    # General Settings
\*------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

::-moz-selection {
  background-color: #e2e2f6; }

::selection {
  background-color: #e2e2f6; }

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex sticky footer */
  min-height: 100vh;
  /* flex sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* flex sticky footer */
  background-color: #fff; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* flex sticky footer */ }

.container-fluid {
  max-width: 1920px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

section h1 {
  font-size: 2em; }

section h1, section h2, section h3, section h4, section h5, section h6, section p {
  color: inherit; }

.list-unstyled {
  padding: 0;
  margin: 0; }
  .list-unstyled li {
    list-style: none;
    margin: 0; }

.heart-icon {
  color: red; }

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.no-boring-title,
.no-boring-link {
  display: inline-block;
  position: relative; }
  .no-boring-title::after,
  .no-boring-link::after {
    content: '';
    position: absolute;
    height: 2px;
    -webkit-transition: 0.4s ease-out all 0.1s;
    -o-transition: 0.4s ease-out all 0.1s;
    transition: 0.4s ease-out all 0.1s; }
  .no-boring-title:hover::after, .no-boring-title:focus::after,
  .no-boring-link:hover::after,
  .no-boring-link:focus::after {
    width: 90%; }

.no-boring-title {
  text-transform: uppercase; }
  .no-boring-title::after {
    top: 100%;
    bottom: 0;
    left: 30%;
    width: 40%;
    background-color: #6666ce; }
  .no-boring-title:hover::after, .no-boring-title:focus::after {
    left: 5%; }

.no-boring-link {
  text-decoration: none; }
  .no-boring-link::after {
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    background-color: #fff; }

/*------------------------------------*    # Header Settings
\*------------------------------------*/
.site-header {
  background-color: #fff;
  color: #333;
  padding: 1.5em 0;
  border-bottom: 0.0625em solid gray; }
  .site-header.is-open {
    padding-bottom: 0; }

@media (min-width: 768px) {
  .site-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

/*------------------------------------*    # Navigation Settings
\*------------------------------------*/
.site-navigation {
  display: none;
  margin-top: 2em;
  text-align: center; }
  @media (min-width: 768px) {
    .site-navigation li {
      border-bottom: none;
      display: inline-block; } }
  .site-navigation li:not(:last-child) {
    border-bottom: 0.0625em solid #d9d9d9; }
    @media (min-width: 768px) {
      .site-navigation li:not(:last-child) {
        border-bottom: none; } }
  .site-navigation a {
    display: block;
    padding: 2em 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #505050;
    font-weight: 700;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s; }
    @media (min-width: 768px) {
      .site-navigation a {
        display: inline-block;
        padding: 0 2em; } }
    .site-navigation a:hover, .site-navigation a:focus {
      color: #6666ce; }
  .site-navigation.is-open {
    display: block; }
  @media (min-width: 768px) {
    .site-navigation {
      display: block;
      margin-top: 0; } }

.nav-toggle {
  display: block;
  padding: 1em 1em;
  cursor: pointer;
  position: absolute;
  top: 1.6em;
  right: 1em; }
  @media (min-width: 768px) {
    .nav-toggle {
      display: none; } }

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  display: block;
  width: 2em;
  height: 3px;
  background-color: #505050;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s; }

.hamburger-icon::before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.hamburger-icon::after {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px); }

.hamburger-icon.is-open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamburger-icon.is-open::after {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -ms-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px); }
  .hamburger-icon.is-open::before {
    opacity: 0; }

/*------------------------------------*    # Forms Settings
\*------------------------------------*/
.form {
  padding: 1.5em 1.5em;
  border-radius: 0.1em; }

.form-title {
  text-align: center;
  margin-bottom: 1em; }

.form-group label {
  display: block;
  margin: 1.3em 0; }

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  color: inherit;
  padding: 0.7em 0.7em;
  border-radius: 0.1em; }

.form-btn {
  margin: 2em 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s; }

.form-meta {
  text-align: center; }

.form-auth {
  background-color: #fff;
  color: #505050;
  -webkit-box-shadow: 0.125em 0 0.375em 0.0625em #505050;
  box-shadow: 0.125em 0 0.375em 0.0625em #505050; }
  .form-auth sup {
    color: #6666ce; }
  .form-auth .form-control {
    background-color: #fff;
    border: 0.0625em solid #BBBBF2; }
    .form-auth .form-control:focus {
      background-color: white; }
  .form-auth .form-btn {
    color: #6666ce; }
    .form-auth .form-btn:hover, .form-auth .form-btn:focus {
      color: #fff;
      background-color: #6666ce; }
  .form-auth .form-meta a {
    color: #6666ce; }

/*------------------------------------*    # Footer Settings
\*------------------------------------*/
.site-footer {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em; }
  .site-footer .logo {
    font-size: 1em;
    margin: 0; }

.copyright-brand {
  color: #6666ce;
  text-decoration: none; }
  .copyright-brand:hover, .copyright-brand:focus {
    color: #3838af; }

/*------------------------------------*    # Logo Settings
\*------------------------------------*/
.logo {
  font-family: "Nunito", sans-serif;
  font-size: 2em;
  margin: 0; }
  .logo a {
    color: #6666ce;
    text-decoration: none;
    font-weight: 700; }

/*------------------------------------*    # Card Settings
\*------------------------------------*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 6em;
  margin-bottom: 2em;
  padding: 1.5em 1.5em;
  background: url("../../../img/stripes-light.png") center center, -webkit-radial-gradient(#5353c8, #3f3fc2);
  background: url("../../../img/stripes-light.png") center center, -o-radial-gradient(#5353c8, #3f3fc2);
  background: url("../../../img/stripes-light.png") center center, radial-gradient(#5353c8, #3f3fc2);
  background-size: cover;
  -webkit-box-shadow: 0.125em 0em 0.375em 0.0625em #bdbdbd;
  box-shadow: 0.125em 0em 0.375em 0.0625em #bdbdbd;
  border-radius: 0.1em; }
  .card p {
    color: #fff; }

.card-head {
  position: relative;
  text-align: center; }

.card-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: -5em;
  width: 120px; }
  .card-image img {
    margin: 0;
    border-radius: 50%;
    border: 0.125em solid #fff; }

.card-title {
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  position: relative;
  display: inline-block; }
  .card-title::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: -50%;
    width: 40%;
    left: 30%;
    background-color: #fff; }

.card-content {
  margin: 2em 0;
  text-align: center; }

.card-meta {
  text-align: center;
  margin-top: auto; }
  .card-meta a {
    color: #fff;
    font-weight: 700; }

/*------------------------------------*    # Hero Settings
\*------------------------------------*/
.hero {
  background: url("../../../img/stripes-light.png") center center, -webkit-radial-gradient(#5353c8, #3f3fc2);
  background: url("../../../img/stripes-light.png") center center, -o-radial-gradient(#5353c8, #3f3fc2);
  background: url("../../../img/stripes-light.png") center center, radial-gradient(#5353c8, #3f3fc2);
  background-size: cover;
  color: #fff;
  padding: 6em 0; }

.intro {
  margin-bottom: 6em;
  max-width: 55em; }

.overview-list {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.overview-list-item {
  color: #fff;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  @media (min-width: 380px) {
    .overview-list-item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  @media (min-width: 1200px) {
    .overview-list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 33.333333333%;
      flex-basis: 33.333333333%; } }
  .overview-list-item:not(:last-child) {
    margin-bottom: 2em; }

.overview-icon {
  display: inline-block;
  width: 4em;
  height: 4em;
  background-color: #fff;
  color: #6666ce;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1em; }
  @media (min-width: 1200px) {
    .overview-icon {
      margin-right: 1em; } }
  .overview-icon span {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    margin-top: .5em; }

.overview-text span {
  display: block;
  margin-top: .5em; }

/*------------------------------------*    # Testimonials Settings
\*------------------------------------*/
.testimonials {
  padding-top: 8em;
  padding-bottom: 6em; }

/*------------------------------------*    # Follow Us Settings
\*------------------------------------*/
.latest-tweets {
  margin-top: 3em; }

.social {
  text-align: center;
  margin-top: 4em; }

.social-list {
  margin-top: 2em; }

.social-list-item {
  display: inline-block;
  font-size: 2.5em; }
  .social-list-item:not(:last-child) {
    margin-right: 1em; }

.social-icon {
  -webkit-transition: 0.4s ease-out all 0.1s;
  -o-transition: 0.4s ease-out all 0.1s;
  transition: 0.4s ease-out all 0.1s; }

.social-icon:hover,
.social-icon:focus {
  opacity: 0.7; }

.social-icon-brand {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 10px 84%/10px 9px no-repeat, -webkit-radial-gradient(center, circle, #fff 61%, transparent 0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 10px 84%/10px 9px no-repeat, -o-radial-gradient(center, circle, #fff 61%, transparent 0);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 10px 84%/10px 9px no-repeat, radial-gradient(circle at center, #fff 61%, transparent 0);
  background: -webkit-linear-gradient(#fff, #fff) 10px 84%/10px 9px no-repeat, -webkit-radial-gradient(center, circle, #fff 61%, transparent 0);
  background: -o-linear-gradient(#fff, #fff) 10px 84%/10px 9px no-repeat, -o-radial-gradient(center, circle, #fff 61%, transparent 0);
  background: linear-gradient(#fff, #fff) 10px 84%/10px 9px no-repeat, radial-gradient(circle at center, #fff 61%, transparent 0); }

.social-icon-youtube {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(red)) 10px 84%/10px 9px no-repeat, -webkit-radial-gradient(center, circle, red 61%, transparent 0);
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(red)) 10px 84%/10px 9px no-repeat, -o-radial-gradient(center, circle, red 61%, transparent 0);
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(red)) 10px 84%/10px 9px no-repeat, radial-gradient(circle at center, red 61%, transparent 0);
  background: -webkit-linear-gradient(red, red) 10px 84%/10px 9px no-repeat, -webkit-radial-gradient(center, circle, red 61%, transparent 0);
  background: -o-linear-gradient(red, red) 10px 84%/10px 9px no-repeat, -o-radial-gradient(center, circle, red 61%, transparent 0);
  background: linear-gradient(red, red) 10px 84%/10px 9px no-repeat, radial-gradient(circle at center, red 61%, transparent 0); }

.social-icon-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text; }

.social-icon-linkedin {
  color: #0077B5; }

.social-icon-twitter {
  color: #28aae1; }

.social-icon-facebook {
  color: #3c5a98; }

.social-icon-github {
  color: #323131; }

.social-icon-google-plus {
  color: #dd4b39; }
