/*------------------------------------*\
    # Footer Settings
\*------------------------------------*/

.site-footer {
	text-align: center;
	margin-top: $site-footer-margin-top;
	margin-bottom: $site-footer-margin-bottom;

	.logo {
		font-size: 1em;
		margin: 0;
	}
}

.copyright-brand {
	color: $copyright-brand-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $copyright-brand-hover-color;
	}
}