/*------------------------------------*\
    # Forms Settings
\*------------------------------------*/

.form {	
	padding: $form-padding-y $form-padding-x;
	border-radius: $form-border-radius;
}

.form-title {
	text-align: center;
	margin-bottom: $form-title-margin-bottom;
}

.form-group {
	label {
		display: block;
		margin: $form-label-margin-y $form-label-margin-x;
	}
}

.form-control {
	appearance: none;

	display: block;
	width: 100%;

	border: none;
	outline: none;
	color: inherit;

	padding: $form-control-padding-y $form-control-padding-x;
	border-radius: $form-control-border-radius;
}

.form-btn {
	margin: $form-btn-margin-y $form-btn-margin-x;
	text-transform: uppercase;
	cursor: pointer;
	transition: $form-btn-transition;
//	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-meta {
	text-align: center;
}


// Form variants

.form-auth {
	background-color: $form-auth-bg;
	color: $form-auth-color;
	box-shadow: $form-auth-box-shadow;

	sup {
		color: $form-required-asterisk-color;
	}

	.form-control {
		background-color: $form-auth-control-bg;
		border: $form-auth-control-border;

		&:focus {
			background-color: $form-auth-control-hover-bg;
		}
	}
	
	.form-btn {
		color: $form-auth-btn-color;

		&:hover,
		&:focus {
			color: $form-auth-btn-hover-color;
			background-color: $form-auth-btn-hover-bg;
		}
	}
	
	.form-meta a {
		color: $form-meta-link-color;
	}
}