/*------------------------------------*\
    # Forms Settings
\*------------------------------------*/

.form {	
	padding: $form-padding-y $form-padding-x;
	border-radius: $form-border-radius;
	color: $form-color;

	sup {
		color: $form-required-asterisk-color;
	}
}

.form-head {
	margin-bottom: $form-head-margin-bottom;
}

.form-title {
	text-align: center;
}

.form-group {
	label {
		display: block;
		margin: $form-label-margin-y $form-label-margin-x;
	}
}

.form-control {
	appearance: none;
	display: block;
	width: 100%;
	resize: vertical;

	border: none;
	outline: none;
	color: inherit;

	background-color: $form-control-bg;
	border: $form-control-border;

	padding: $form-control-padding-y $form-control-padding-x;
	border-radius: $form-control-border-radius;

	&:focus {
		background-color: $form-control-hover-bg;
	}
}

.form-btn {
	margin: $form-btn-margin-y $form-btn-margin-x;
	text-transform: uppercase;
	cursor: pointer;
	transition: $form-btn-transition;
	color: $form-btn-color;

	&:hover,
	&:focus {
		color: $form-btn-hover-color;
		background-color: $form-btn-hover-bg;
	}
}

.form-meta {
	text-align: center;

	a {
		color: $form-meta-link-color;
	}
}


// Form variants

.form-auth {
	background-color: $form-auth-bg;
	color: $form-auth-color;
	box-shadow: $form-auth-box-shadow;

	.form-head {
		margin-bottom: $form-auth-head-margin-bottom;
	}
}