/*------------------------------------*\
    # Header Settings
\*------------------------------------*/

.site-header {
	background-color: $header-bg;
	color: $header-color;
	padding: $header-padding-y $header-padding-x;
	border-bottom: $header-border-bottom;

	&.is-open {
		padding-bottom: 0;
	}
}

.site-header-content {
	@media ( min-width: 768px ) {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}