/*------------------------------------*\
    # Navigation Settings
\*------------------------------------*/

.site-navigation {
	display: none;
	margin-top: $navigation-margin-top;
	text-align: center;
	
	li {
		@media ( min-width: 768px ) {
			border-bottom: none;
			display: inline-block;
		}
	}

	li:not(:last-child) {
		border-bottom: $navigation-border-bottom;

		@media ( min-width: 768px ) {
			border-bottom: none;
		}
	}

	a {
		display: block;
		padding: $navigation-link-padding-y $navigation-link-padding-x;
		text-transform: uppercase;
		text-decoration: none;
		color: $navigation-link-color;
		font-weight: $navigation-link-font-weight;
		transition: $navigation-link-transition;

		@media ( min-width: 768px ) {
			display: inline-block;
			padding: $navigation-link-padding-y--md $navigation-link-padding-x--md;
		}
	
		&:hover,
		&:focus {
			color: $navigation-link-hover-color;
		}
	}

	&.is-open {
		 display: block;
	}
	
	@media ( min-width: 768px ) {
		display: block;
		margin-top: 0;
	}
}

.nav-toggle {
	display: block;
	padding: $navtoggle-padding-y $navtoggle-padding-x;
	cursor: pointer;

	position: absolute;
	top: $navtoggle-position-top;
	right: $navtoggle-position-right;

	@media ( min-width: 768px ) {
		display: none;
	}
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
	content: '';
	display: block;
	width: 2em;
	height: 3px;
	background-color: $hamburger-bar-bg-color;

	transition: $hamburger-bar-transition;
}

.hamburger-icon::before {
	transform: translateY( -6px );
}

.hamburger-icon::after {
	transform: translateY( 3px );
}

.hamburger-icon.is-open {
	transform: rotate( 45deg );

	&::after {
		transform: rotate( -90deg ) translateX( 3px );
	}

	&::before {
		opacity: 0;
	}
}