/*------------------------------------*\
    # Hero Settings
\*------------------------------------*/

.hero {
	background-color: $color-primary;
	color: color-yiq( $color-primary );
	padding: $hero-padding-y $hero-padding-x;
}

.intro {
	margin-bottom: $intro-margin-bottom;
	text-align: center;

	@media (min-width: 1200px) { 
		text-align: left;
	}
}

.overview-list {
	margin-top: $overview-list-margin-top;
}

.overview-list-item {
	display: inline-block;
	text-align: center;

	color: $overview-list-item-color;

	&:not(:last-child) {
		margin-right: $overview-list-item-margin-right;
	}
}

.overview-icon {
	display: block;
	font-size: $overview-icon-font-size;
	margin-bottom: $overview-icon-margin-bottom;
}