/*------------------------------------*\
    # Hero Settings
\*------------------------------------*/

.hero {
	background: $hero-bg;
	background-size: cover;
	color: color-yiq( $color-primary );
	
	padding: $hero-padding-y $hero-padding-x;
}

.intro {
	margin-bottom: $intro-margin-bottom;

	// @media ( min-width: 768px ) {
	// 	margin-bottom: $intro-margin-bottom--md;
	// }

	// @media ( min-width: 1200px ) {
	// 	margin-bottom: $intro-margin-bottom--xl;
	// }

	h1, h2, h3, h4, h5, h6, p, a {
		color: $light;
	}
}

.intro-title {
	margin-bottom: $intro-title-margin-bottom;
}

.overview-list {
	margin-top: $overview-list-margin-top;
	display: flex;
	flex-wrap: wrap;
}

.overview-list-item {
	color: $overview-list-item-color;
	flex-basis: 100%;

	@media ( min-width: 335px ) {
		flex-basis: 50%;
	}

	@media ( min-width: 1200px ) {
		display: flex;
		flex-basis: 33.333333333%;
	}

	&:not(:last-child) {
		margin-bottom: $overview-list-item-margin-bottom;
	}
}

.overview-icon {
	display: inline-block;
	width: $overview-icon-width;
	height: $overview-icon-height;
	
	background-color: $overview-icon-bg;
	color: $overview-icon-color;

	text-align: center;
	border-radius: $overview-icon-shape;
	margin-bottom: $overview-icon-margin-bottom;

	@media ( min-width: 1200px ) {
		margin-right: $overview-icon-margin-right--xl;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		font-size: $overview-icon-font-size;
		margin-top: .5em;
	}
}

.overview-text {
	span {
		display: block;
		margin-top: .5em;
	}
}