/*------------------------------------*\
    # Testimonials Settings
\*------------------------------------*/

.testimonials {
	padding-top: $testimonials-padding-top;
}


// called in media-queries.scss

@mixin testimonials--xl() {
	.testimonials {
		padding-top: $testimonials-padding-top--xl;
		padding-bottom: $testimonials-padding-bottom--xl;
	}
}