// Hint: --xs, --sm, --md, ... these are variables for certain media queries.

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$font-family: 'Martel', serif;

// Base Font for HTML
$base-font-size: 100%;

// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

// Paragraph Styles
$paragraph-color: #505050;
$paragraph-size: rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin: 20px;

// Header Styles
$header-color: #000000;
$header-size: rem(40px);
$header-line-height: 1.25em;
$header-margin : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color: #505050;
$blockquote-size: rem(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin: $paragraph-margin * 1.5;

// Links
$link-color: #459bd9;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;

// Text alignment classes
$text-alignment: (
	left,
	right,
	center
);





/*------------------------------------*\
    # Color Settings
\*------------------------------------*/

// Basic colors
$color-primary: #6666ce;
$color-secondary: #fff;
$color-selection: lighten( #6666ce, 32% );

$dark: #505050;
$light: #fff;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $dark;
$yiq-text-light: $light;

// Background
$bg-primary: url('../../../img/stripes-light.png') center center, 
    radial-gradient( darken( $color-primary, 5% ), darken( $color-primary, 10% ) );



/*------------------------------------*\
    # Card Settings
\*------------------------------------*/

// Card colors
$card-bg: $bg-primary;
$card-text-color: $light;
$card-title-color: $light;
$card-title-underline-color: $light;
$card-meta-link-color: $light;

// Card settings
$card-box-shadow: 0.125em 0em 0.375em 0.0625em #bdbdbd;
$card-border-radius: .1em;

$card-margin-top: 6em;
$card-margin-bottom: 2em;

$card-padding-y: 1.5em; 
$card-padding-x: 1.5em; 

$card-image-width: 120px;
$card-image-shape: 50%; /* border-radius */
$card-image-border: 0.125em solid $light; /* 2/16 */

$card-title-font-size: 1.3em;
$card-title-underline-transition: 0.4s ease-out all .1s;

$card-meta-link-weight: 700;

$card-content-margin-y: 2em;
$card-content-margin-x: 0;





/*------------------------------------*\
    # Logo Settings
\*------------------------------------*/

// Logo colors
$logo-color: $color-primary;

// Logo settings
$logo-font-family: 'Nunito', sans-serif;
$logo-font-size: 2em;
$logo-font-weight: $font-weight-bold;




/*------------------------------------*\
    # Navigation Settings
\*------------------------------------*/

// Navigation colors
$navigation-link-color: $dark;
$navigation-link-hover-color: $color-primary;
$hamburger-bar-bg-color: $dark;

// Navigation settings
$navigation-margin-top: 2em;
$navigation-border-bottom: 0.0625em solid darken( #fff, 15% ); /* 1/16 */

$navigation-link-padding-y: 2em; 
$navigation-link-padding-x: 2em;

// Media breakpoint
$navigation-link-padding-y--md: 0;
$navigation-link-padding-x--md: 2em;

$navigation-link-transition: all ease-in-out 250ms;

$navtoggle-padding-y: 1em;
$navtoggle-padding-x: 1em;

$navtoggle-position-top: 1.6em;
$navtoggle-position-right: 1em;

$hamburger-bar-transition: all ease-in-out 250ms;





/*------------------------------------*\
    # Home | Hero Settings
\*------------------------------------*/

// Hero colors
$hero-bg: $bg-primary;
$overview-list-item-color: $light;

// Hero settings
$hero-padding-y: 6em;
$hero-padding-x: 0;

$intro-margin-bottom: 6em;

$overview-list-margin-top: 4em;
$overview-list-item-margin-right: 4em;

$overview-icon-font-size: 2.5em;
$overview-icon-margin-bottom: .2em;





/*------------------------------------*\
    # Home | Testimonials Settings
\*------------------------------------*/

// Hero settings
$testimonials-padding-top: 6em;
$testimonials-padding-bottom: 4em;





/*------------------------------------*\
    # Home | Follow Us Settings
\*------------------------------------*/

// Follow Us settings
$latest-tweets-margin-top: 3em;

$social-margin-top: 4em;
$social-list-margin-top: 2em;

$social-list-item-font-size: 2.5em;
$social-list-item-margin-right: 1em;

$social-icon-transition: 0.4s ease-out all .1s;
$social-icon-opacity-hover: .7;