// Hint: --xs, --sm, --md, ... these are variables for certain media queries.

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$font-family: 'Martel', serif;

// Base Font for HTML
$base-font-size-document: 100%;
$base-font-size: 16px;

// Font Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

// Paragraph Styles
$paragraph-color: #505050;
$paragraph-size: em(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin: em(20px);

// Heading Styles
$heading-color: #333;
$heading-size: em(40px);
$heading-line-height: 1.25em;
$heading-margin : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color: #505050;
$blockquote-size: em(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin: $paragraph-margin * 1.5;

// Links
$link-color: #459bd9;

// hr
$hr-margin: em(30px);

// Type Misc
$border-color: #DADADA;

// Text alignment classes
$text-alignment: (
	left,
	right,
	center
);





/*------------------------------------*\
    # General Settings
\*------------------------------------*/

$container-fluid-max-width: 1920px; /* limit container fluid width, we don't want to go too wide */

$transition-base: all ease-in-out 0.25s;
$transition-no-boring: 0.4s ease-out all 0.1s;





/*------------------------------------*\
    # Color Settings
\*------------------------------------*/

// Basic Colors
$color-primary: #6666ce;
$color-secondary: #fff;
$color-selection: lighten( #6666ce, 32% );

$dark: #505050;
$light: #fff;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $dark;
$yiq-text-light: $light;

// Basic Backgrounds
$bg-primary: url('../../../img/stripes-light.png') center center, 
    radial-gradient( darken( $color-primary, 5% ), darken( $color-primary, 10% ) );





/*------------------------------------*\
    # Card Settings
\*------------------------------------*/

$card-text-color: $light;
$card-title-color: $light;
$card-title-underline-color: $light;
$card-meta-link-color: $light;

// Card Settings
$card-border-radius: .1em;

$card-padding-y: 1.5em; 
$card-padding-x: 1.5em; 

$card-image-width: 120px;
$card-image-shape: 50%; /* border-radius */
$card-image-border: 0.125em solid $light; /* 2/16 */

$card-title-font-size: 1.3em;

$card-meta-link-weight: 700;

$card-content-margin-y: 2em;
$card-content-margin-x: 0;


// Card Testimonial Colors
$card-testimonial-bg: $bg-primary;

// Card Testimonial Settings
$card-testimonial-box-shadow: 0.125em 0em 0.375em 0.0625em #bdbdbd;
$card-testimonial-margin-top: 3em;
$card-testimonial-margin-bottom: 3em;


// Card Overview Colors
$card-overview-bg: url('../../../img/stripes-light.png'), #f5f8fa;
$card-overview-text-color: $dark;

$card-overview-title-color: $dark;
$card-overview-title-underline-color: $color-primary;

$card-overview-meta-link-color: $color-primary;
$card-overview-meta-link-underline-color: $color-primary;

$card-overview-icon-bg: $color-primary;
$card-overview-icon-color: $light;

// Card Overview Settings
$card-overview-icon-font-size: 1.5em;
$card-overview-icon-width: 3em;
$card-overview-icon-height: 3em;
$card-overview-box-shadow: 0.125em 0 0.375em 0.0625em $dark;




/*------------------------------------*\
    # Form Settings
\*------------------------------------*/

// Form Colors
$form-color: $dark;
$form-control-bg: $color-secondary;
$form-control-hover-bg: lighten( $color-primary, 37% );

$form-btn-color: $color-primary;
$form-btn-hover-color: $light;
$form-btn-hover-bg: $color-primary;

$form-meta-link-color: $color-primary;
$form-required-asterisk-color: $color-primary;

// Form Settings
$form-padding-y: 1.5em;
$form-padding-x: 1.5em;
$form-border-radius: .1em;

$form-control-border: 0.0625em solid #BBBBF2;
$form-head-margin-bottom: 3em;

$form-label-margin-y: 1.3em;
$form-label-margin-x: 0;

$form-control-padding-y: .7em;
$form-control-padding-x: .7em;
$form-control-border-radius: .1em;

$form-btn-margin-y: 2em;
$form-btn-margin-x: 0;
$form-btn-transition: $transition-base;


// Form Auth Colors
$form-auth-bg: $color-secondary;
$form-auth-bg: url('../../../img/stripes-light.png'), #fff;
$form-auth-color: $dark;

// Form Auth Settings
$form-auth-box-shadow: 0.125em 0 0.375em 0.0625em $dark;
$form-auth-head-margin-bottom: 1em;




/*------------------------------------*\
    # Logo Settings
\*------------------------------------*/

// Logo Colors
$logo-color: $color-primary;

// Logo Settings
$logo-font-family: 'Nunito', sans-serif;
$logo-font-size: 2em;
$logo-font-weight: $font-weight-bold;





/*------------------------------------*\
    # Navigation Settings
\*------------------------------------*/

// Navigation Colors
$navigation-link-color: $dark;
$navigation-link-active-color: $color-primary;
$navigation-link-hover-color: $navigation-link-active-color;
$hamburger-bar-bg-color: $dark;

// Navigation Settings
$navigation-margin-top: 2em;
$navigation-border-bottom: 0.0625em solid darken( $color-secondary, 15% ); /* 1/16 */

$navigation-link-padding-y: 2em; 
$navigation-link-padding-x: 2em;

// Media Breakpoint
$navigation-link-padding-y--md: 0;
$navigation-link-padding-x--md: 2em;

$navigation-link-transition: $transition-base;

$navigation-link-font-weight: $font-weight-bold;

$navtoggle-padding-y: 1em;
$navtoggle-padding-x: 1em;

$navtoggle-position-top: 1.6em;
$navtoggle-position-right: 1em;

$hamburger-bar-transition: $transition-base;





/*------------------------------------*\
    # Header Settings
\*------------------------------------*/
// Header Colors
$header-bg: $color-secondary;
$header-color: #333;

// Header Settings
$header-padding-y: 1.5em;
$header-padding-x: 0;

$header-border-bottom: 0.0625em solid darken( $header-bg, 50% ); /* 1/16 */





/*------------------------------------*\
    # Home | Hero Settings
\*------------------------------------*/

// Hero Colors
$hero-bg: $bg-primary;
$overview-icon-bg: $color-secondary;

$overview-list-item-color: $light;
$overview-icon-color: $color-primary;

// Hero Settings
$hero-padding-y: 3em;
$hero-padding-x: 0;

$hero-padding-y--xl: 6em;
$hero-padding-x--xl: 0;

$intro-margin-bottom: 3em;
$intro-margin-bottom--md: 0;
$intro-margin-bottom--xl: 6em;

$intro-title-margin-bottom: 1em;

$overview-list-margin-top: 4em;

$overview-list-item-margin-right: 4em;
$overview-list-item-margin-bottom: 2em;

$overview-icon-width: 4em;
$overview-icon-height: 4em;

$overview-icon-shape: 50%; /* border-radius */
$overview-icon-margin-bottom: 1em;
$overview-icon-margin-right--xl: 1em;
$overview-icon-font-size: 2em;





/*------------------------------------*\
    # Home | Testimonials Settings
\*------------------------------------*/

// Testimonials Settings
$testimonials-padding-top: 4em;
$testimonials-padding-top--xl: 8em;





/*------------------------------------*\
    # Home | Follow Us Settings
\*------------------------------------*/

// Follow Us Settings
$follow-us-padding-top: 0;
$follow-us-padding-bottom: 2em;

$follow-us-padding-top--xl: 8em;
$follow-us-padding-bottom--xl: 6em;

$social-margin-top: 4em;
$social-list-margin-top: 2em;

$social-list-item-font-size: 2.5em;
$social-list-item-margin-right: 1em;

$social-icon-transition: $transition-no-boring;
$social-icon-opacity-hover: .7;





/*------------------------------------*\
    # About Settings
\*------------------------------------*/

// About Settings
$about-padding-top: 4em;
$about-padding-bottom: 2em;

$about-padding-top--xl: 8em;
$about-padding-bottom--xl: 6em;





/*------------------------------------*\
    # Contact Settings
\*------------------------------------*/

// Contact Settings
$contact-padding-top: 4em;
$contact-padding-bottom: 2em;

$contact-padding-top--xl: 8em;
$contact-padding-bottom--xl: 6em;

$contact-head-margin-bottom: 1em;





/*------------------------------------*\
    # FAQ Settings
\*------------------------------------*/

// FAQ Colors
$faq-list-item-term-bg: $bg-primary;
$faq-list-item-description-bg: lighten( $color-primary, 35% );
$faq-list-item-term-color: $light;

// FAQ Settings
$faq-padding-top: 4em;
$faq-padding-bottom: 2em;

$faq-padding-top--xl: 8em;
$faq-padding-bottom--xl: 6em;

$faq-list-margin-bottom: 2em;

$faq-list-item-padding-y: 1em;
$faq-list-item-padding-x: 1em;

$faq-list-item-term-margin-top: 2em;




/*------------------------------------*\
    # Footer Settings
\*------------------------------------*/

// Footer Colors
$copyright-brand-color: $color-primary;
$copyright-brand-hover-color: darken( $copyright-brand-color, 15% );

// Footer Settings
$site-footer-margin-top: 4em;
$site-footer-margin-bottom: 2em;