/*------------------------------------*\
    # Buttons
\*------------------------------------*/

.btn {
	text-transform: uppercase;
	text-decoration: none;
	padding: .375em .75em;
	transition: $transition-base;
	text-align: center;
	display: inline-block;
	margin-right: .5em;
}

.btn-md {
	padding: .5em 1em;
}

.btn-lg {
	padding: 1em 1.5em;
}

.btn-block {
	display: block;
}

.btn-primary {
	background: $color-primary;
	border: 1px solid darken( $color-primary, 5% );
	color: color-yiq( $color-primary );

	&:hover,
	&:focus {
		color: color-yiq( $color-primary );
		background: darken( $color-primary, 3% );
	}
}

.btn-primary-outline {
	background: transparent;
	border: 1px solid darken( $color-primary, 5% );
	color: $color-primary;

	&:hover,
	&:focus {
		color: color-yiq( $color-primary );
		background: darken( $color-primary, 3% );
	}
}

.btn-danger {
	background: $red;
	border: 1px solid darken( $red, 5% );
	color: color-yiq( $red );

	&:hover,
	&:focus {
		color: color-yiq( $red );
		background: darken( $red, 3% );
	}
}


.btn-danger-outline {
	background: transparent;
	border: 1px solid darken( $red, 5% );
	color: $red;

	&:hover,
	&:focus {
		color: color-yiq( $red );
		background: darken( $red, 3% );
	}
}