/*------------------------------------*\
    # Buttons
\*------------------------------------*/

.btn {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: $btn-padding-y $btn-padding-x;
	margin-right: $btn-margin-right;

	transition: $btn-transition;
}

.btn-md {
	padding: $btn-md-padding-y $btn-md-padding-x;
}

.btn-lg {
	padding: $btn-lg-padding-y $btn-lg-padding-x;
}

.btn-block {
	display: block;
}

.btn-primary {
	background: $btn-primary-bg;
	color: $btn-primary-color;
	border: $btn-primary-border;

	&:hover,
	&:focus {
		color: $btn-primary-color-hover;
		background: $btn-primary-bg-hover;
	}
}

.btn-primary-outline {
	background: $btn-primary-outline-bg;
	color: $btn-primary-outline-color;
	border: $btn-primary-outline-border;

	&:hover,
	&:focus {
		color: $btn-primary-outline-color-hover;
		background: $btn-primary-outline-bg-hover;
	}
}

.btn-danger {
	background: $btn-danger-bg;
	color: $btn-danger-color;
	border: $btn-danger-border;

	&:hover,
	&:focus {
		color: $btn-danger-color-hover;
		background: $btn-danger-bg-hover;
	}
}

.btn-danger-outline {
	background: $btn-danger-outline-bg;
	color: $btn-danger-outline-color;
	border: $btn-danger-outline-border;

	&:hover,
	&:focus {
		color: $btn-danger-outline-color-hover;
		background: $btn-danger-outline-bg-hover;
	}
}