/*------------------------------------*\
    # Card Settings
\*------------------------------------*/

.card {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	
	margin-top: $card-margin-top;
	margin-bottom: $card-margin-bottom;
	padding: $card-padding-y $card-padding-x;

	background: $card-bg;
	background-size: cover;

	box-shadow: $card-box-shadow;
	border-radius: $card-border-radius;

	p {
		color: $card-text-color;
	}
}

.card-head {
	position: relative;
	text-align: center;
}

.card-image {
	margin-left: auto;
	margin-right: auto;
	margin-top: -5em;

	width: $card-image-width;

	img {
		margin: 0;
		border-radius: $card-image-shape;
		border: $card-image-border;
	}
}

.card-title {
	color: $card-title-color;
	text-align: center;
	font-size: $card-title-font-size;

	position: relative;
	display: inline-block;

	&::after {
		content: '';
		position: absolute;
		height: 1px;
		bottom: -50%;
		width: 40%;
		left: 30%;
		transition: $card-title-underline-transition;
		background-color: $card-title-underline-color;
	}
}

.card-content {
	margin: $card-content-margin-y $card-content-margin-x;
	text-align: center;
}

.card-meta {
	text-align: center;
	margin-top: auto;

	a {
		color: $card-meta-link-color;
		font-weight: $card-meta-link-weight;
	}
}