/*------------------------------------*\
    # Card Settings
\*------------------------------------*/

.card {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: $card-padding-y $card-padding-x;
	border-radius: $card-border-radius;

	li, p {
		color: $card-text-color;
	}
}

.card-head {
	position: relative;
	text-align: center;
}

.card-image {
	margin-left: auto;
	margin-right: auto;
	margin-top: -5em;

	width: $card-image-width;

	img {
		margin: 0;
		border-radius: $card-image-shape;
		border: $card-image-border;
	}
}

.card-title {
	color: $card-title-color;
	font-size: $card-title-font-size;

	position: relative;
	display: inline-block;

	&::after {
		content: '';
		position: absolute;
		height: 1px;
		bottom: -50%;
		width: 40%;
		left: 30%;
		background-color: $card-title-underline-color;
	}
}

.card-content {
	margin: $card-content-margin-y $card-content-margin-x;
}

.card-meta {
	margin-top: auto;

	a {
		color: $card-meta-link-color;
		font-weight: $card-meta-link-weight;
	}
}



// Card Testimonial

.card-testimonial {
	background: $card-testimonial-bg;
	background-size: cover;
	box-shadow: $card-testimonial-box-shadow;
	text-align: center;

	margin-top: $card-testimonial-margin-top;
	margin-bottom: $card-testimonial-margin-bottom;

	@media ( min-width: 1200px ) {
		margin-bottom: 0;
	}
}



// Card Overview

.card-overview {
	background: $card-overview-bg;
	box-shadow: $card-overview-box-shadow;
	text-align: center;

	margin-top: $card-overview-margin-top;

	@media ( min-width: 1200px ) {
		text-align: left;
	}

	li, p {
		color: $card-overview-text-color;
	}

	.card-title {
		color: $card-overview-title-color;

		&::after {
			background-color: $card-overview-title-underline-color;
		}
	}
	
	.card-meta {
		text-align: center;

		a {
			color: $card-overview-meta-link-color;

			&::after {
				background-color: $card-overview-meta-link-underline-color;
			}
		}
	}

	.overview-list {
		margin-top: 0;
	}

	.overview-list-item {
		flex-basis: 100%;
	}

	.overview-icon {
		width: $card-overview-icon-width;
		height: $card-overview-icon-height;
		background-color: $card-overview-icon-bg;
		color: $card-overview-icon-color;

		span {
			font-size: $card-overview-icon-font-size;
		}
	}
}