/*------------------------------------*\
    # Logo Settings
\*------------------------------------*/

.logo {
	font-family: 'Nunito', sans-serif;
	font-size: 2em;
	margin: 0;
	margin-left: .5em;

	a {
		text-decoration: none;
		color: #6666ce;
		font-weight: 700;
	}
}

/* END Logo Settings */