/*------------------------------------*\
    # Logo Settings
\*------------------------------------*/

.logo {
	font-family: $logo-font-family;
	font-size: $logo-font-size;
	margin: 0;
	
	a {
		color: $logo-color;
		text-decoration: none;
		font-weight: $logo-font-weight;
	}
}