/*------------------------------------*\
    # General Settings
\*------------------------------------*/

html {
	@include box-sizing( border-box );
}

* {
	-webkit-tap-highlight-color: lighten( $color-primary, 15% );
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@include selection {
	background-color: $color-selection;
}

.body {
	display: flex; /* flex sticky footer */
	min-height: 100vh; /* flex sticky footer */
	flex-direction: column; /* flex sticky footer */
	background-color: $color-secondary;
}

.main {
	flex: 1 0 auto; /* flex sticky footer */
}

.container-fluid {
	max-width: $container-fluid-max-width;
}

#editor-container {
	height: 375px;
}

// Generate text alignment classes -> e.g. .text-center
@each $align in $text-alignment {
	.text-#{$align} {
		text-align: $align;
	}
}

.list-unstyled {
	@include list-unstyled;
}

.heart-icon {
	color: red;
}

.img-fluid {
 	@include img-fluid;
}

.no-boring-title,
.no-boring-link {
	display: inline-block;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		height: 2px;
		transition: $transition-no-boring;
	}

	&:hover::after,
	&:focus::after {
		width: 90%;
	}
}

.no-boring-title {
	text-transform: uppercase;

	&::after {
		top: 100%;
		bottom: 0;
		left: 30%;

		width: 40%;
		background-color: $color-primary;
	}

	&:hover::after,
	&:focus::after {
		left: 5%;
	}
}

.no-boring-link {
	text-decoration: none;

	&::after {
		bottom: 0;
		left: 0;
		right: 0;

		width: 0;
		margin: 0 auto;
		background-color: $color-secondary;
	}
}