/*------------------------------------*\
    # Administration Edit Page Settings
\*------------------------------------*/

.administration-edit-page {
	padding-top: $admin-edit-page-padding-top;

	@media ( min-width: 1200px ) {
		padding: $admin-edit-page-padding-y--xl $admin-edit-page-padding-x--xl;
	}
}

.edit-page-settings {
	margin: $edit-page-settings-margin-y $edit-page-settings-margin-x; 
}

.edit-page {
	margin-top: $edit-page-margin-top;
}

.manage-items {
	margin-bottom: $manage-items-margin-bottom;
}

.manage-items-list-item {
	display: flex;
	justify-content: space-between;
	padding-bottom: $manage-items-list-item-padding-bottom;

	a {
		color: $manage-items-list-item-link-color;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $manage-items-list-item-link-color-hover;
		}
	}
}

.manage-items-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: $manage-items-controls-margin-top;

	a {
		text-decoration: none;
		margin: 0;
	}
}


.faq-edit-list-item {
	display: flex;

	&:not(:last-child) {
		margin-bottom: $faq-edit-list-item-margin-bottom;
	}
}

.faq-edit-content {
	flex: 1;
}

.faq-edit-controls {
	font-size: $faq-edit-controls-font-size;
	margin-top: $faq-edit-controls-margin-top;

	a {
		text-decoration: none;
		display: block;
		margin-bottom: $faq-edit-controls-link-margin-bottom;
		margin-left: $faq-edit-controls-link-margin-left;
	}
}

