/*------------------------------------*\
    # Administration My Account Settings
\*------------------------------------*/

.administration-my-account {
	padding-top: $admin-my-account-padding-top;

	@media ( min-width: 1200px ) {
		padding: $admin-my-account-padding-y--xl $admin-my-account-padding-x--xl;
	}

	.administration-overview-controls {
		text-align: center;
		margin-bottom: $admin-my-account-user-controls-margin-bottom;
	}
}