/*------------------------------------*\
    # Administration Report Settings
\*------------------------------------*/

.administration-report {
	padding-top: $admin-report-padding-top;

	@media ( min-width: 1200px ) {
		padding: $admin-report-padding-y--xl $admin-report-padding-x--xl;
	}
}

.report-bug {
	margin-top: $report-bug-margin-top;
}