/*------------------------------------*\
    # Administration Website Settings
\*------------------------------------*/

.administration-settings {
	padding-top: $admin-settings-padding-top;

	@media ( min-width: 1200px ) {
		padding: $admin-settings-padding-y--xl $admin-settings-padding-x--xl;
	}
}

.administration-settings-manage {
	margin-top: $administration-settings-manage-margin-top;
}

.settings-image {
	margin-bottom: $settings-image-margin-bottom;
}