/*------------------------------------*\
    # Administration Users Settings
\*------------------------------------*/

.administration-users {
	padding-top: $admin-users-padding-top;

	@media ( min-width: 1200px ) {
		padding: $admin-users-padding-y--xl $admin-users-padding-x--xl;
	}
}

.all-users {
	text-align: center;
	margin-top: $all-users-margin-top;

	@media ( min-width: 768px ) {
		text-align: left;
		margin-top: $all-users-margin-top--md;
	}
}

.all-users-list-item {
	padding-top: $all-users-list-item-padding-top;

	&:not(:last-child) {
		padding-bottom: $all-users-list-item-padding-bottom;
		border-bottom: $all-users-list-item-border;
	}
}

.all-users-image {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;

	width: $all-users-image-width;
	border: $all-users-image-border;

	@media ( min-width: 768px ) {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.all-users-content {
	@media ( min-width: 768px ) {
		margin-left: $all-users-content-margin-left--md;
	}
}

.all-users-content-info {
	display: flex;
	justify-content: center;

	@media ( min-width: 768px ) {
		display: block;
	}
}

.all-users-content-list {
	margin-top: $all-users-content-list-margin-top;
}

.all-users-content-list-item {
	text-align: left;

	&:not(:last-child) {
		margin-bottom: $all-users-content-list-item-margin-bottom;
	}
}

.all-users-icon {
	color: $all-users-icon-color;
	margin-right: $all-users-icon-margin-right;
}

.user-controls {
	margin-top: $all-users-controls-margin-top;
	

	@media ( min-width: 768px ) {
		a {
			margin-right: $all-users-controls-link-margin-right;
		}
	}
}

.user-edit-icon {
	display: block;
	width: $user-edit-icon-width;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: $user-edit-icon-margin-top;
	margin-bottom: $user-edit-icon-margin-bottom;

	@media ( min-width: 768px ) {
		display: inline;
		width: auto;

		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
}

.user-danger-icon {
	color: $user-danger-icon-color;
	margin-right: $user-danger-icon-margin-right;
	font-size: $user-danger-icon-font-size;
	transition: $user-danger-icon-transition;

	&:hover,
	&:focus {
		color: $user-danger-icon-color-hover;
	}

	@media ( min-width: 768px ) {
		margin-right: 0;
	}
}

.all-users-load-more {
	margin-top: $all-users-load-more-margin-top;
}