/*------------------------------------*\
    # About Settings
\*------------------------------------*/

.about {
	padding-top: $about-padding-top;
	padding-bottom: $about-padding-bottom;

	@media ( min-width: 768px ) {
		padding-bottom: $about-padding-bottom--md;
	}

	@media ( min-width: 1200px ) {
		padding-top: $about-padding-top--xl;
		padding-bottom: $about-padding-bottom--xl;
	}
}

.about-us-img-container {
	position: relative;
	margin-bottom: 35%;
	
	img {
		width: 75%;
	}

	img:nth-child(2) {
		position: absolute;
		top: 35%;
		right: 0;
	}
}