/*------------------------------------*\
    # Contact Settings
\*------------------------------------*/

.contact {
	padding-top: $contact-padding-top;
	padding-bottom: $contact-padding-bottom;

	@media ( min-width: 1200px ) {
		padding-top: $contact-padding-top--xl;
		padding-bottom: $contact-padding-bottom--xl;
	}
}

.contact-head {
	margin-bottom: $contact-head-margin-bottom;
}