/*------------------------------------*\
    # Hero Section Settings
\*------------------------------------*/

.hero {
	background-color: #6666ce;
	color: color-yiq( #6666ce );
	padding: 6em 0;
	// margin-bottom: 4em;

	h1, h2, h3, h4, h5, h6, p {
		color: inherit;
	}

	
}





.intro {
	margin-bottom: 6em;
	text-align: center;

	@media (min-width: 1200px) { 
		text-align: left;
	}
}

.testimonials {
	padding-top: 6em;
	padding-bottom: 4em;
}



.overview-list {
	margin-top: 4em;
	// text-align: center;
}

.overview-list-item {
	display: inline-block;
	text-align: center;
	color: #fff;

	&:not(:last-child) {
		margin-right: 4em;
	}
}

.overview-icon {
	font-size: 2.5em;
	margin-bottom: .2em;
	display: block;
}









// .overview-list {
// 	margin-top: 4em;
// }

// .overview-list-item {
// 	display: inline-block;
// 	font-size: 2.5em;

// 	&:not(:last-child) {
// 		margin-right: 1em;
// 	}
// }

// .overview-list-item a {
// 	text-decoration: none;
// 	color: #fff;
// 	font-size: 1.2em;
// }

// .overview-icon {
// 	display: block;
// 	margin-bottom: .2em;
// 	font-size: 2em;
// }


